.musicbox {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-family: Courier;
  font-size: 16px;
  color: #337ccf;
  width: 400px;
}
.music-panel {
  border: 2px solid #337ccf;
  padding: 20px;
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.1), 0px 2px 10px 0px rgba(0, 0, 0, 0.05);
  background-color: rgba(186, 224, 221, 0.932);
}    
.musicbox .control {
  margin-top: 20px;
  font-size: 20px;
  color: #337ccf;
  float: left;
}
.musicbox .control .fa {
  margin-right: 12px;
  cursor: pointer;
}

.musicbox .info {
  margin-left: 140px;
}

.musicbox .info .title {
  font-size: 20px;
  
}

.musicbox .info .author {
  font-size: 16px;
}

.musicbox .progress {
  width: 355px;
}

.musicbox .progress .bar {
  height: 3px;
  margin-top: 5px;
  background-color: rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.musicbox .progress .progress-now {
  background-color: #337ccf;
  height: 3px;
  width: 0;
  position: relative;
}

.musicbox .time {
  text-align: right;
}

.musicbox .list>li{
  position: relative;
  padding: 4px 10px;
  border: 2px solid #337ccf;
  border-top: none;
  overflow: hidden;
  cursor: pointer;
}

.musicbox .list>li:hover {
  background-color: rgba(255,255, 255,0.3);
}

.musicbox .list>li.playing:before{
  position: absolute;
  top: 0;
  left: 0;
  content:'';
  display: inline-block;
  width: 8px;
  height: 30px;
  background: rgba(255, 255, 255, 0.8);
}